{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Player Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height(Inch)</th>
        <th scope="col">Weight(Lbs)</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td><a href="view/{{player.id}}">{{ player.Name }}</a></td>
        <td>{{ player.Team }}</td>
        <td>{{ player.Position }}</td>
        <td>{{ player.Height_inches }}</td>
        <td>{{ player.Weight_lbs }}</td>
        <td>{{ player.Age }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}