{% extends "layout.html" %}
{% block content %}
<form action="/players/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Name">Player Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Player Name" name="Name">
        </div>
        <div class="col">
            <label for="Team">Team</label>
            <input id="Team" type="text" class="form-control" placeholder="Team" name="Team">
        </div>
        <div class="col">
            <label for="Position">Position</label>
            <input id="Position" type="text" class="form-control" placeholder="Position" name="Position">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Height_inches">Height</label>
            <input id="Height_inches" type="text" class="form-control" placeholder="Height" name="Height_inches">
        </div>
        <div class="col">
            <label for="Weight_lbs">Weight</label>
            <input id="Weight_lbs" type="text" class="form-control" placeholder="Weight" name="Weight_lbs">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Age">Age</label>

            <input id="Age" type="text" class="form-control" placeholder="Age"
                   name="Age">
        </div>
    </div>
    <div class="row"><div class="col"></div></div>
    <button type="submit" class="btn btn-success">Submit</button>

</form>

{% endblock %}